img{
    width: 200px;
    height: auto;
}

.margin{
    margin: 1% auto;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
}

.w50{
    width: 50%;
    margin: 0% auto;
}

.w30{
    width: 33%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

.w33{
    width: 40%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.w50{
    width: 45%;
}

.w100{
    width: 100%;
    height: auto;
}

.w60{
    width: 60%;
    margin: 2% auto;
}

form{
    width: 60%;
    margin: 1% auto;
}

table, thead, tr, td, tbody{
    border: solid 2px black;
    border-radius: 5px;
}